@model CDPortfolio.Models.CD
@{
    ViewBag.Title = "Add CD";
}

<h1 class="text-center">AddCD</h1>
<div class="container">
    <form asp-action="AddCDForm" method="post">
        <div asp-validation-summary="All"></div>
            <label asp-for="Bank">Bank</label>
            <select class="custom-select" asp-for="Bank">
                <option selected>Please Choose a Bank</option>
                <option value="Altra Federal Credit Union">Altra Federal Credit Union</option>
                <option value="Synchrony Bank">Synchrony Bank</option>
                <option value="BMO Harris">BMO Harris</option>
                <option value="Wells Fargo">Wells Fargo</option>
            </select>
            <label asp-for="Term">Term (Months)</label>
            <select class="custom-select" asp-for="Term">
                <option selected>Please Choose a Term</option>
                <option value="12">12</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
            </select>
            <label asp-for="Rate">Rate(%)</label>
            <input type="text" class="form-control" placeholder="8.00%" asp-for="Rate"/>
            <label asp-for="DepositAmt">Deposit Amount</label>
            <div class="dollarSignIcon">
                <input type="text" class="form-control" placeholder="0.00" asp-for="DepositAmt"/>
                <i>$</i>
            </div>
            <label asp-for="PurchaseDate">Purchase Date</label>
            <input type="date" class="form-control" placeholder="mm/dd/yyyy" asp-for="PurchaseDate"/>
        <div class="form-row text-center">
            <div class="col-12">
                <a asp-action="Index" class="btn btn-outline-dark col-4">Cancel</a>
                <button type="submit" class="btn btn-success col-4">Submit</button>
            </div>
        </div>
    </form>
</div>

